<ion-content [fullscreen]="true">
  <div class="container">
    <div class="logo_container" class="ion-text-center">
      <img class="logo" src="../../assets/bg/logo.png" alt="logo" />
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="primary"> POS Login</ion-card-subtitle>
        <ion-card-title>
          <form (ngSubmit)="login()" [formGroup]="credentials">
            <div class="input-group">
              <ion-item lines="none">
                <ion-input
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="(email.dirty || email.touched) && email.errors"
                class="errors"
              >
                <span *ngIf="email.errors?.required">Email is required</span>
                <span *ngIf="email.errors?.email">Email is invalid</span>
              </div>
              <ion-item lines="none">
                <ion-input
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="(password.dirty || password.touched) && password.errors"
                class="errors"
              >
                <span *ngIf="password.errors?.required"
                  >Password is required</span
                >
                <span *ngIf="password.errors?.minlength"
                  >Password needs to be 6 characters</span
                >
              </div>
            </div>

            <ion-button
              type="submit"
              expand="block"
              color="primary"
              [disabled]="!credentials.valid"
              >Log in</ion-button
            >
            <!-- <ion-button
              type="button"
              expand="block"
              color="light"
              fill="clear"
              [routerLink]="['/signup']"
              >Not yet a member?
              <span style="color: var(--ion-color-primary); padding-left: 10px">
                Sign up!</span
              >
            </ion-button> -->

            <!-- <ion-button type="button" expand="block">
              <ion-icon name="logo-google" slot="start"></ion-icon>
              Sign in with Google
            </ion-button>
            <ion-button type="button" expand="block">
              <ion-icon name="logo-apple" slot="start"></ion-icon>
              Sign in with Apple
            </ion-button> -->
          </form></ion-card-title
        >
      </ion-card-header>
      <ion-card-content> </ion-card-content>
    </ion-card>
  </div>
</ion-content>
