<ion-tabs>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon class="logo" name="calculator"></ion-icon>
        <ion-label>POS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Sales</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon name="layers"></ion-icon>
        <ion-label>Purchase</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="more" color="dark">
        <ion-icon name="person"></ion-icon>
        <ion-label>Cashier</ion-label>
      </ion-tab-button> -->
      <!-- <ion-tab-button tab="more" color="dark">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Customer</ion-label>
      </ion-tab-button> -->
      <ion-tab-button tab="dashboard" color="dark">
        <img
          width="22px"
          height="22px"
          src="assets/icon/dashboard.png"
          alt=""
        />
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-tabs>
