<h3 class="ion-text-center">Cart Details</h3>

<ion-row class="ion-text-center">
  <ion-col size="4">Product Name </ion-col>
  <ion-col size="3" offset="1"> Unit </ion-col>
  <ion-col size="3" > Price </ion-col>
</ion-row>

<ion-row class="ion-text-center">
  <ion-col size="4">Straberry </ion-col>
  <ion-col size="3" offset="1"> 1 </ion-col>
  <ion-col size="3" > $8.0 </ion-col>
  <ion-col size="4">Straberry </ion-col>
  <ion-col size="3" offset="1"> 1 </ion-col>
  <ion-col size="3" > $8.0 </ion-col>
  <ion-col size="4">Straberry </ion-col>
  <ion-col size="3" offset="1"> 1 </ion-col>
  <ion-col size="3" > $8.0 </ion-col>
</ion-row>
