ion-content {
  // --background: white;
  --background: #ecf0f6;
  --color: #3880ff;
  h3 {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    background: radial-gradient(#1a1818, transparent);
  }

  .empty_cart {
    position: absolute;
    top: 19%;
    left: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9c9c9c;
    ion-icon {
      font-size: 8rem;
      display: block;
    }
    span {
      font-size: 1.8rem;
    }
  }
}

ion-row {
  text-align: center;
  align-items: center;
}

.top_grid {
  height: 60vh;
  overflow-y: auto;
}
.head_row {
  background: #373434c4;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

ion-icon {
  font-size: 2rem;
  vertical-align: middle;
  padding: 0px 5px;
}
.list_row {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px dotted black;
  ion-input {
    min-height: 30px;
    background: #8080805e;
    border-radius: 11px;
    text-align: center;
    color: black;
  }
  ion-col {
    display: flex;
    align-items: center;
    // justify-content: center;
    font-weight: 700;
    height: 8vh;
  }
}

.payment_detail {
  background-color: white;
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  width: 100%;
  bottom: 0vh;
  padding-top: 0;

  ion-row {
    text-align: end;
  }
  .total {
    background-image: radial-gradient(#08ff1f, #67cd85);
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  h3 {
    // padding: 0 !important;
    margin: 0px;
    font-size: 1.4rem !important;
  }
  .total,
  .list_row,
  .payment_detail {
    font-size: 1rem !important;
    padding-top: 0 !important;
  }
  .list_row,
  ion-icon {
    font-size: 1.2rem;
  }
}
