<ion-content
  ><h3 class="ion-text-center" (click)="goToCart()" style="font-weight: bold">
    Check Out
  </h3>

  <div *ngIf="cartItems != ''">
    <ion-grid class="top_grid">
      <ion-row class="head_row">
        <ion-col size="4"> Name </ion-col>
        <ion-col size="6"> QTY </ion-col>
        <ion-col size="2"> Price </ion-col>
      </ion-row>

      <ion-row class="list_row" *ngFor="let item of cartItems; let i = index">
        <ion-col size="4">
          <ion-button
            (click)="removeItem(i)"
            fill="clear"
            size="small"
            color="danger"
          >
            <ion-icon name="trash-outline"></ion-icon> </ion-button
          >{{ item.name }}
        </ion-col>
        <ion-col size="6" class="qty">
          <ion-button fill="clear" size="small">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
          1
          <ion-button fill="clear" size="small">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2"> {{ item.price }} </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="cartItems == ''" class="empty_cart">
    <ion-icon slot="center" name="cart-outline"></ion-icon>
    <span>Empty Cart</span>
  </div>

  <ion-grid class="payment_detail">
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="6">Discount-(%)</ion-col>
          <ion-col size="6">10%</ion-col> </ion-row
        ><ion-row>
          <ion-col size="6"> Sub Total</ion-col
          ><ion-col size="6">$300</ion-col> </ion-row
        ><ion-row class="total">
          <ion-col size="6">Total</ion-col> <ion-col size="6">$300</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" style="font-weight: bolder">
          Pay ($300)
        </ion-button></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
