<ion-content>
  <ion-row class="title_row">
    <ion-col
      size="2"
      class="ion-activatable ripple-parent rectangle"
      (click)="searchUser()"
      ><img class="search_icon" src="assets/icon/search_customer.jpg" alt="" />
      <ion-ripple-effect></ion-ripple-effect
    ></ion-col>
    <ion-col size="8" class="customer_search">
      <ion-input type="text" [(ngModel)]="user"> </ion-input>
      <span class="ion-activatable ripple-parent circle">
        <ion-ripple-effect></ion-ripple-effect>

        <ion-icon
          slot="start"
          (click)="user = 'Guest'"
          (click)="user_phone = ''"
          name="close-circle"
        ></ion-icon
      ></span>

      <!-- <p (click)="goToCart()">Check Out</p> -->
    </ion-col>
    <ion-col size="1" class="cart_section">
      <ion-fab-button class="cart_button" (click)="goToCart()">
        <ion-icon name="cart"></ion-icon
        ><span class="badge bounce" #badge>{{ displayCart.length }}</span>
      </ion-fab-button>
    </ion-col>
    <ion-col size="1">
      <ion-button
        style="--background: var(--ion-color-danger)"
        (click)="goBack()"
        *ngIf="this.cartPageCheck"
      >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div *ngIf="displayCart != ''">
    <ion-grid class="top_grid">
      <ion-row class="head_row">
        <ion-col [size]="name_col"> Name </ion-col>
        <ion-col [size]="qty_col"> QTY </ion-col>
        <ion-col [size]="p_unit_col" *ngIf="cartPageCheck">
          Price/Unit
        </ion-col>
        <ion-col [size]="[total_col]" style="color: var(--ion-color-primary)">
          Total
        </ion-col>
      </ion-row>

      <ion-row class="list_row" *ngFor="let item of displayCart; let i = index">
        <ion-col [size]="name_col">
          <ion-button
            class="ion-activatable ripple-parent rectangle"
            (click)="removeItem(i)"
            fill="clear"
            size="small"
            color="danger"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="trash-outline"></ion-icon></ion-button
          >{{ item.name }}
        </ion-col>
        <ion-col [size]="qty_col" style="justify-content: center" class="qty">
          <ion-button fill="clear" size="small" (click)="dec_quantity(item)">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
          <ion-input
            type="number"
            [(ngModel)]="item.quantity"
            [value]="item.quantity"
            (ngModelChange)="validateStockLimit(item)"
          ></ion-input>
          <ion-button fill="clear" size="small" (click)="inc_quantity(item)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col [size]="p_unit_col" *ngIf="!purchaseCheck && cartPageCheck">
          <ion-input
            type="number"
            [(ngModel)]="item.s_price"
            [value]="item.s_price"
            (keyup)="get_bill()"
          ></ion-input>
        </ion-col>
        <ion-col [size]="p_unit_col" *ngIf="purchaseCheck && cartPageCheck">
          <ion-input
            type="number"
            [(ngModel)]="item.p_price"
            [value]="item.p_price"
            (keyup)="get_bill()"
          ></ion-input>
        </ion-col>

        <ion-col [size]="[total_col]">
          <ion-input
            type="number"
            readonly
            style="background: unset; color: var(--ion-color-primary)"
            [value]="item.total_price"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="displayCart == ''" class="empty_cart">
    <ion-icon slot="center" name="cart-outline"></ion-icon>
    <span>Empty Cart</span>
  </div>

  <ion-grid class="payment_detail">
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="6">Discount-(%)</ion-col>
          <ion-col size="3" offset="2">
            <ion-input
              style="
                background: #8080805e;
                font-size: 1.6rem;
                border-radius: 11px;
                text-align: center;
                color: black;
                min-height: 30px;
              "
              type="tel"
              [(ngModel)]="discount"
              placeholder="0"
              maxlength="2"
              (keyup)="get_bill()"
            ></ion-input
          ></ion-col>
          <ion-col size="1" style="font-size: 1.7rem"> % </ion-col> </ion-row
        ><ion-row>
          <ion-col size="6"> Sub Total</ion-col
          ><ion-col size="6">{{ calBill() }}</ion-col> </ion-row
        ><ion-row class="total">
          <ion-col size="6">Total</ion-col>
          <ion-col size="6">{{ total_bill }}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          *ngIf="!purchaseCheck"
          expand="block"
          style="font-weight: bolder"
          (click)="pay()"
        >
          Pay ( <span> {{ total_bill }} </span>)
        </ion-button>

        <ion-button
          *ngIf="purchaseCheck"
          expand="block"
          style="font-weight: bolder; --background: var(--ion-color-dark)"
          (click)="Purchasepay()"
        >
          Pay ( <span> {{ total_bill }} </span>)
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
