ion-content {
  --background: #eaf9f4;
  --color: #3880ff;
}

.products_row {
  ion-card {
    width: 16vw;
    // margin: 10px;
    padding: 0px;
  }
  .products_container {
    display: flex;
    flex-wrap: wrap;
  }
  .p_image {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }

  .sub_cat {
    border-radius: 18px;
    box-shadow: burlywood;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 7px 2px 11px teal;
    margin: 3px;
  }
}
