<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-row class="toolbar_row">
        <ion-col size="2">
          <ion-title size="large">Point Of Sale</ion-title>
        </ion-col>
        <ion-col size="8">
          <ion-segment
            class="main_cat"
            mode="ios"
            [value]="this.data?.product_categories[0].id"
            (ionChange)="cat_Changed($event)"
          >
            <ion-segment-button
              [value]="item.id"
              *ngFor="let item of data?.product_categories"
            >
              <ion-label>{{item.name}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-row class="products_row">
    <ion-col size="6.5" offset="1">
      <ion-row>
        <ion-col size="12">
          <ion-segment
            mode="ios"
            class="sub_cat"
            [value]="subcat_id"
            (ionChange)="subCat_Changed($event)"
          >
            <ion-segment-button
              [value]="item.id"
              *ngFor="let item of subCategories()"
            >
              <ion-label>{{item.name}}</ion-label>
            </ion-segment-button>
          </ion-segment></ion-col
        >
      </ion-row>
      <ion-row
        style="text-align: center; align-items: center; font-size: 1.8rem"
      >
        <ion-col size="6">
          <ion-label
            style="
              font-size: 15px;
              font-weight: bolder;
              text-transform: uppercase;
              color: green;
            "
          >
            {{displayProduct()[0]?.sub_category_name}}
            (<span>{{displayProduct().length}}</span>)
          </ion-label>
          <!-- <ion-icon
            style="vertical-align: middle; margin-right: 20px"
            name="add-circle-outline"
          ></ion-icon> -->
        </ion-col>
        <ion-col size="6">
          <ion-searchbar
            mode="ios"
            placeholder="Filter Products"
            inputmode="decimal"
            type="decimal"
            [debounce]="250"
            showCancelButton="always"
            [(ngModel)]="filterTerm"
            animated="true"
          ></ion-searchbar>
        </ion-col>
      </ion-row>
      <div class="products_container" *ngIf="displayProduct() != ''">
        <ion-card
          class="ion-activatable ripple-parent rectangle"
          *ngFor="let item of displayProduct() | filter:filterTerm"
          (click)="addToCart(item,1)"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header>
            <ion-card-subtitle color="dark"> {{item.name}}</ion-card-subtitle>
            <ion-card-title color="primary"
              >PKR: {{item.s_price}} /KG</ion-card-title
            >
          </ion-card-header>

          <!-- <ion-card-content>
            <img
              class="p_image"
              src="{{this.globals.baseAnnouncementURL}}{{item.picture[0]?.image}}"
              alt=""
            />
          </ion-card-content> -->
        </ion-card>
      </div>
      <div
        *ngIf="displayProduct()==''"
        style="display: flex; justify-content: center; padding-top: 28vh"
      >
        <img src="assets/icon/no_result.png" width="150px" alt="" />
      </div>
    </ion-col>
    <ion-col size="4.5" class="cart_column">
      <app-cart name="cart"></app-cart
    ></ion-col>
  </ion-row>
</ion-content>
