<ion-content [fullscreen]="true">
  <ion-header>
    <ion-row
      ><ion-toolbar>
        <ion-col size="3">
          <ion-title size="large">Point Of Sale</ion-title>
        </ion-col>
        <ion-col size="9"
          ><ion-segment value="pizza">
            <ion-segment-button value="pizza">
              <ion-label>Pizza</ion-label>
            </ion-segment-button>
            <ion-segment-button value="pizza">
              <ion-label>Pizza</ion-label>
            </ion-segment-button>
            <ion-segment-button value="pasta">
              <ion-label>Pasta</ion-label>
            </ion-segment-button>
          </ion-segment></ion-col
        >
      </ion-toolbar>
    </ion-row>
  </ion-header>

  <ion-row class="products_row">
    <ion-col size="6.5" offset="1">
      <ion-row
        style="text-align: center; align-items: center; font-size: 1.8rem"
      >
        <ion-col size="6">
          <ion-icon
            style="vertical-align: middle; margin-right: 20px"
            name="add-circle-outline"
          ></ion-icon>
          <ion-label>Add </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-searchbar
            placeholder="Filter Products"
            inputmode="decimal"
            type="decimal"
            [debounce]="250"
            showCancelButton="always"
          ></ion-searchbar>
        </ion-col>
      </ion-row>

      <ion-segment class="sub_cat" value="pizza">
        <ion-segment-button value="pizza">
          <ion-label>Pizza</ion-label>
        </ion-segment-button>
        <ion-segment-button value="paseta">
          <ion-label>Pasta</ion-label> </ion-segment-button
        ><ion-segment-button value="paseta">
          <ion-label>Pasta</ion-label> </ion-segment-button
        ><ion-segment-button value="paseta">
          <ion-label>Pasta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="w">
          <ion-label>Pasta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="w">
          <ion-label>Pasta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="w">
          <ion-label>Pasta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="w">
          <ion-label>Pasta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="w">
          <ion-label>Pasta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="w">
          <ion-label>Pasta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="q">
          <ion-label>Pasta</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="products_container">
        <ion-card *ngFor="let item of productArray" (click)="addToCart(item)" >
          <ion-card-header>
          <ion-card-title color="primary">{{item.p_price}}</ion-card-title>
            <ion-card-subtitle color="dark"> {{item.name}}</ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-card-content
            [style.background]="'url(' + item.image_path + ')'"
            [style.width.px]="200"
            [style.height.px]="150"
          > -->

          <ion-card-content>
            <img class="p_image" src="{{this.globals.baseAnnouncementURL}}{{item.picture[0]?.image}}" alt="" />
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
    <ion-col size="4.5" class="cart_column">
      <app-cart name="cart"></app-cart
    ></ion-col>
  </ion-row>
</ion-content>
