<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="close()" color="dark">
        <ion-icon slot="start" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">
      Add {{cat_type}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngIf="cat_type!=='Category'">
            <ion-col size="3" offset="2">
              <ion-label>{{cat_type}}</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-select
                (ionChange)="selectCategory($event)"
                class="category"
                mode="ios"
                [interfaceOptions]="categoryOptions"
                name="cat_id"
                placeholder="Select Product Category"
                ngModel
                #cat_id="ngModel"
                required
                [ngStyle]="{'border-color':  cat_id.invalid && (cat_id.dirty || cat_id.touched)?'var(--ion-color-danger) ': cat_id.valid?'var(--ion-color-success)' :'' }"
              >
                <ion-select-option
                  [value]="item.id"
                  *ngFor="let item of data?.product_categories"
                >
                  {{item.name}}</ion-select-option
                >
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3" offset="2">
              <ion-label>{{cat_type}} Name</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-input
                clear-input
                class="product_name"
                mode="ios"
                type="text"
                name="p_name"
                ngModel
                required
                #p_name="ngModel"
                placeholder="{{cat_type}} Name"
                [ngStyle]="{'border-color':  p_name.invalid && (p_name.dirty || p_name.touched)?'var(--ion-color-danger) ': p_name.valid?'var(--ion-color-success)' :'' }"
              ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="cat_type==='Category'">
            <ion-col size="3" offset="2">
              <ion-label>{{cat_type}} Description</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-textarea
                clear-input
                name="description"
                placeholder="Enter {{cat_type}}  Description"
                ngModel
                #description="ngModel"
                required
                [ngStyle]="{'border-color':  description.invalid && (description.dirty || description.touched)?'var(--ion-color-danger) ': description.valid?'var(--ion-color-success)' :'' }"
              ></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-footer>
          <ion-row>
            <ion-col size="4" offset="4">
              <ion-button disabled *ngIf="userForm.invalid" color="secondary"
                >Add {{cat_type}}
              </ion-button>
              <ion-button *ngIf="userForm.valid" type="submit" color="secondary"
                >Add {{cat_type}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
