<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="block" color="dark" (click)="close()">
        <ion-icon slot="start" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light"
      >Product Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Product Name</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              class="product_name"
              mode="ios"
              readonly
              type="text"
              [value]="data?.name"
              placeholder="Product Name"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Category</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              class="category"
              mode="ios"
              readonly
              type="text"
              [value]="data?.category_name"
              placeholder=" Category"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Sub Category</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              class="sub_category"
              mode="ios"
              type="text"
              readonly
              [value]="data?.sub_category_name"
              placeholder="Sub Category"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Manufacturer</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              class="manufacturer"
              mode="ios"
              type="text"
              readonly
              [value]="data?.manufacturer"
              placeholder="Manufacturer"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Unit of Measurement</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              mode="ios"
              type="text"
              readonly
              [value]="data?.unit_of_measurement"
              placeholder=" Unit of Measurement"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Current Stock Quantity</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              class="current_stock"
              mode="ios"
              type="number"
              readonly
              [value]="data?.quantity_in_stock"
              placeholder="Current Stock Quantity"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Purchase Price/Unit</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              clear-input
              class="p_price edit_input"
              mode="ios"
              type="number"
              [value]="data?.p_price"
              placeholder="Enter Purchase Price/Unit"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Sale Price/Unit</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              clear-input
              class="s_price edit_input"
              mode="ios"
              type="number"
              [value]="data?.s_price"
              placeholder="Enter Sale Price/Unit"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Enter New Quantity</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-input
              class="new_stock edit_input"
              mode="ios"
              type="text"
              [(ngModel)]="purchase_quantity"
              placeholder="Enter Purchase Quantity"
              clear-input
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" offset="2">
            <ion-label>Product Description</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-textarea
              clear-input
              [value]="data?.description"
              placeholder="Enter Product Description"
            ></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-row>
      <ion-col size="6">
        <ion-button color="primary">Update</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="secondary" (click)="addToCart(data,2)"
          >Add to Cart</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>
