#print-section {
  height: 100%;
}

@media print {
  .print-section {
    // height: max-content;
    // width: max-content;
    // overflow: visible !important;
  }
  .close_button,
  .print_button {
    display: none;
  }

  .item {
    ion-label {
      font-size: 0.8rem;
    }
  }

  .totals {
    .label {
      font-size: 0.8rem !important;
    }

    .value {
      font-size: 0.8rem;
    }
  }

  ion-header {
    box-shadow: none;
  }
}

ion-label {
  padding: 0px 10px;
}
.invoice-card {
  margin: 0px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: "Times New Roman", Times, serif;
  box-shadow: none;
}

.invoice-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.company-header {
  color: black;
  align-items: center;
  padding: 0px 16px;
  border-bottom: 1px solid #ddd;
  align-items: flex-start;

  p {
    margin-top: 0;
    font-size: 0.8rem;
  }
}
.contact_div {
  line-height: 5px;
}

.company-logo {
  max-width: 110px;
  margin-right: 16px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.company-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0;
}

.invoice-id {
  padding-left: 0;
  font-size: 14px;
  font-weight: bold;
}

.date-time {
  padding: 7px 0px;

  font-size: 14px;
  font-weight: bold;
  display: block;
  .invoice-number {
    font-weight: bold;
  }
}

.customer-details {
  margin-top: 0px;
  // padding: 0 16px;
  border-bottom: 1px solid #ddd;
}

.label {
  font-weight: bold;
}

.item-list {
  margin-top: 16px;
  border-collapse: collapse;
  font-family: "Times New Roman", Times, serif;

  .list-header {
    // background-color: #f0f0f0;

    border-bottom: 1px dotted black;
    text-align: center;
    height: 10px;
    ion-label {
      font-weight: bold;
    }
  }

  .item {
    border-bottom: 1px solid #ddd;

    ion-label {
      font-family: "Times New Roman", Times, serif;
      text-align: center;
      padding: 0px;
      display: block;
    }
  }
}

.totals {
  color: black;
  ion-label {
    padding: 0px 3px;
  }
  margin-top: 16px;
  padding: 0 16px;
  // text-align: end;
  .label {
    font-weight: bold;
    font-size: 1rem;
  }

  // .value {
  //    font-size: 1rem;
  // }
}

.notes {
  margin: 7px 0px;
  margin-bottom: 43px;
  padding: 10px;
  box-shadow: none !important;
  border: 1px solid;
  // border-left: 2px solid #007bff;

  .label {
    font-weight: bold;
  }
}

.print_button {
  background: none;
  color: black;
  position: absolute;
  right: 50px;
  font-size: 4rem;
  top: 0;
  bottom: 0;
}
