<div id="print-section">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="close_button" slot="end">
        <ion-button expand="block" color="dark" (click)="close()">
          <ion-icon slot="start" name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="invoice-title"
        >Invoice (<span style="font-size: 1.2rem">{{data?.sale_id}}</span
        >)</ion-title
      >
    </ion-toolbar>
  </ion-header>
  <!-- <div class="header">
    <div class="toolbar_container">
      <h2 class="title">Invoice</h2>
    </div>
  </div> -->

  <ion-content class="ion-padding">
    <ion-card class="invoice-card">
      <ion-card-header>
        <ion-row class="company-header">
          <ion-col size="6">
            <img
              src="assets/icon/logo.png"
              alt="Company Logo"
              class="company-logo"
            />
            <h3 class="company-name">The PLANNERS</h3>
            <p>BUILDER AND REAL ESTATE (PVT) LTD.</p>
          </ion-col>
          <ion-col size="5" offset="1">
            <ion-label class="invoice-id"
              >Invoice # <span>{{data?.sale_id}}</span></ion-label
            >
            <ion-label class="date-time"
              >Date: {{data?.date|date : 'medium'}}</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row class="customer-details">
          <ion-col size="6">
            <ion-label class="label">Customer Name:</ion-label>
            <ion-label class="value" style="text-transform: capitalize"
              >{{data?.customer.name }}</ion-label
            >
          </ion-col>
          <ion-col size="6">
            <ion-label class="label">Phone Number:</ion-label>
            <ion-label class="value">{{data?.customer.phone }}</ion-label>
          </ion-col>
        </ion-row>

        <ion-list class="item-list">
          <ion-list-header class="list-header">
            <ion-label lines="none">Item List</ion-label>
          </ion-list-header>
          <ion-item lines="none" class="item">
            <ion-label class="serial">Item No#</ion-label>
            <ion-label class="name">Item Name</ion-label>
            <ion-label class="quantity">Quantity</ion-label>
            <ion-label class="price-unit">Price/Unit</ion-label>

            <ion-label class="amount">Amount</ion-label>
          </ion-item>
          <ion-item
            lines="none"
            class="item"
            *ngFor="let item of data?.items let i= index"
          >
            <ion-label class="serial">{{i+1}}</ion-label>
            <ion-label class="name">{{item.name}}</ion-label>
            <ion-label class="quantity">{{item.quantity}} kg</ion-label>
            <ion-label class="price-unit">{{item.s_price}}/kg</ion-label>

            <ion-label class="amount">{{item.total_price}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-row class="totals">
          <ion-col size="4">
            <ion-label class="label">Subtotal:</ion-label>
            <ion-label class="value">{{data?.total_amount }}</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="label">Discount(%):</ion-label>
            <ion-label class="value" *ngFor="let discount of data?.discounts"
              >{{discount?.discount_value}} <span> % </span></ion-label
            >
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-label class="label">Total amount:</ion-label>
            <ion-label class="value">{{data?.payment_amount }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="notes">
      <ion-card-content>
        <ion-label class="label">Notes:</ion-label>

        <!-- <button
          class="print_button"
          printSectionId="print-section"
          styleSheetFile="assets/pdf.css"
          ngxPrint
        >
          <ion-icon name="print-outline"></ion-icon>
        </button> -->

        <button class="print_button" (click)="print()">
          <ion-icon name="print-outline"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
