/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~animate.css/animate.min.css";

.bounce {
  animation: bounce;
  animation-duration: 1.8s;
}

.alert-wrapper {
  .alert-head {
    background: var(--ion-color-primary);
  }
}

.custom_loading {
  .loading-wrapper {
    background: url("../src/assets/icon/loader.svg");
    background-repeat: no-repeat;
    padding: 90px;
    box-shadow: none;
    position: absolute;
    left: 25vw;
    top: 50vh;
  }
  ion-spinner {
    display: none !important;
  }
}

.custom_select {
  ion-item {
    --background-focused: var(--ion-color-primary);
    --background-activated: var(--ion-color-primary);
    --background-focused-opacity: 0.8;
    --color: black !important;
    --color-focused: #fff;
    --detail-icon-color: #989aa2;
    --detail-icon-opacity: 1;
    --background-hover: #f04141;
    --background-hover-opacity: 0.6;

    --highlight-color-valid: var(--ion-color-primary);
  }
}

.create_user_modal {
  --width: 85vw;
  backdrop-filter: brightness(0.5);
  --height: 95vh;

  .modal-wrapper {
    background: none;
  }
}
.search_user_modal {
  --width: 85vw;
  backdrop-filter: brightness(0.5);
  --height: 95vh;

  .modal-wrapper {
    background: none;
  }
}
.invoice_modal {
  // background: none;
  --width: 80vw;
  backdrop-filter: brightness(0.5);
  --height: 98vh;

  .modal-wrapper {
    background: none;
  }
}
.action-sheet-wrapper {
  // --background: red;
  .action-sheet-button {
    // background: red;
  }
}

@font-face {
  font-family: "Rubik-reg";
  src: url("assets/fonts/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik-light";
  src: url("assets/fonts/Rubik/static/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik-black";
  src: url("assets/fonts/Rubik/static/Rubik-Black.ttf");
}
@font-face {
  font-family: "Rubik-bold";
  src: url("assets/fonts/Rubik/static/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Noto-reg";
  src: url("assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Noto-bold";
  src: url("assets/fonts/Noto_Sans/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "dancing-reg";
  src: url("assets/fonts/dancing/DancingScript-Regular.ttf");
}
@font-face {
  font-family: "dancing-bold";
  src: url("assets/fonts/dancing/DancingScript-Bold.ttf");
}
@font-face {
  font-family: "dancing-medium";
  src: url("assets/fonts/dancing/DancingScript-Medium.ttf");
}
:root {
  --ion-font-family: "Rubik-reg";
}
