/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~animate.css/animate.min.css";

.bounce {
  animation: bounce;
  animation-duration: 1.8s;
}

// For root alert // globally
.alert-wrapper {
  padding-bottom: 6px;
  .alert-head {
    background: var(--ion-color-primary);
    padding-top: 12px;
    padding-bottom: 12px;
    .alert-title {
      color: var(--ion-color-light);
    }
  }

  .alert-radio-group {
    .select-interface-option {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 0.9rem;
    }
  }
  .alert-button-group {
    // .alert-button {
    //   color: var(--ion-color-success);
    // }
    .alert-button-role-cancel {
      color: var(--ion-color-danger);
    }
  }
}

.ion-select-class {
  .alert-wrapper {
    --min-width: 350px;
    .alert-head {
      background: var(--ion-color-primary);
    }
  }
}

.gameOver-alert-css {
  backdrop-filter: brightness(0.07);
  .alert-wrapper {
    --width: 634px !important;
    --min-width: 634px !important;
    padding-bottom: 16px;
  }

  .alert-head {
    .alert-title {
      color: var(--ion-color-light);
      font-size: 1.5rem;
    }
  }

  .alert-message {
    font-size: 1.5rem;
  }

  .alert-button {
    font-size: 1.2rem;
    font-weight: bold !important;
  }

  .yes-btn {
    color: var(--ion-color-primary) !important;
  }
  .no-btn {
    color: var(--ion-color-success) !important;
  }
}

.custom_loading_p {
  .loading-wrapper {
    background: url("../src/assets/icon/loader.svg");
    background-repeat: no-repeat;
    padding: 90px;
    box-shadow: none;
    position: absolute;
    left: 25vw;
    top: 50vh;
  }
  ion-spinner {
    display: none !important;
  }
}

.custom_loading {
  .loading-wrapper {
    background: url("../src/assets/icon/loader.svg");
    background-repeat: no-repeat;
    padding: 90px;
    box-shadow: none;
  }
  ion-spinner {
    display: none !important;
  }
}

.custom_select {
  ion-item {
    --background-focused: var(--ion-color-primary);
    --background-activated: var(--ion-color-primary);
    --background-focused-opacity: 0.8;
    --color: black !important;
    --color-focused: #fff;
    --detail-icon-color: #989aa2;
    --detail-icon-opacity: 1;
    --background-hover: #f04141;
    --background-hover-opacity: 0.6;

    --highlight-color-valid: var(--ion-color-primary);
  }
}

.create_user_modal {
  --width: 85vw;
  backdrop-filter: brightness(0.5);
  --height: 95vh;

  .modal-wrapper {
    background: none;
  }
}
.search_user_modal {
  --width: 85vw;
  backdrop-filter: brightness(0.5);
  --height: 95vh;

  .modal-wrapper {
    background: none;
  }
}
.invoice_modal {
  // background: none;
  --width: 100vw;
  backdrop-filter: brightness(0.5);
  --height: 100vh;

  .modal-wrapper {
    background: none;
  }
}

.product_modal {
  --width: 90vw;
  backdrop-filter: brightness(0.5);
  --height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3366ff;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
}

@font-face {
  font-family: "Rubik-reg";
  src: url("assets/fonts/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik-light";
  src: url("assets/fonts/Rubik/static/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik-black";
  src: url("assets/fonts/Rubik/static/Rubik-Black.ttf");
}
@font-face {
  font-family: "Rubik-bold";
  src: url("assets/fonts/Rubik/static/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Noto-reg";
  src: url("assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Noto-bold";
  src: url("assets/fonts/Noto_Sans/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "dancing-reg";
  src: url("assets/fonts/dancing/DancingScript-Regular.ttf");
}
@font-face {
  font-family: "dancing-bold";
  src: url("assets/fonts/dancing/DancingScript-Bold.ttf");
}
@font-face {
  font-family: "dancing-medium";
  src: url("assets/fonts/dancing/DancingScript-Medium.ttf");
}
:root {
  --ion-font-family: "Rubik-reg";
}
